<!-- communities-list.component.html -->
<div class="communities-container">
  <div class="community-header">
    <h1>Chat Communities</h1>
    <button
      mat-button
      type="button"
      [routerLink]="'/' + userRole + '/create-community'"
    >
      Create
    </button>
  </div>

  <div *ngIf="loading$ | async" class="loading-container">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  <div
    *ngIf="(communities$ | async)?.length === 0 && !(loading$ | async)"
    class="no-communities"
  >
    <p>No chat communities available.</p>
  </div>

  <div class="communities-list">
    <div *ngFor="let community of communities$ | async" class="community-item">
      <div class="community-avatar">
        <img
          *ngIf="community.imageUrl"
          [src]="community.imageUrl"
          alt="{{ community.name }}"
        />
        <div class="avatar-placeholder" *ngIf="!community.imageUrl">
          <mat-icon>people</mat-icon>
        </div>
      </div>

      <div
        class="community-content"
        [routerLink]="['/', userRole, 'community', community.id]"
      >
        <div class="community-header">
          <h2>{{ community.name }}</h2>
          <span class="members">
            <mat-icon>person</mat-icon> {{ community.memberCount }}
          </span>
        </div>

        <p class="description">{{ community.description }}</p>

        <div *ngIf="community.categories?.length" class="categories">
          <span
            *ngFor="let category of community.categories"
            class="category-tag"
          >
            {{ category }}
          </span>
        </div>

        <div class="community-actions">
          <ng-container *ngIf="userRole === 'user'">
            <ng-container *ngIf="isCommunityJoined() | async; else joinBlock">
              <button
                mat-button
                color="warn"
                (click)="leaveCommunity(community.id)"
              >
                <mat-icon>exit_to_app</mat-icon> Leave
              </button>
            </ng-container>

            <ng-template #joinBlock>
              <button
                mat-button
                color="primary"
                (click)="joinCommunity(community.id)"
              >
                <mat-icon>add</mat-icon> Join
              </button>
            </ng-template>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
