<div class="community-container">
  <div class="community-search-container">
    <app-communities-list></app-communities-list>
  </div>

  <div class="community-message-container">
    <app-community-page></app-community-page>

    <!-- <div class="community-message-header">
      <img src="" alt="" />
      <h6>name of the community</h6>
      <p>description of the community</p>
    </div>
    <div class="community-message-body"></div>

    <app-message-input></app-message-input> -->
  </div>
</div>
