<div>
  <div>
    <app-farmer-nav-bar></app-farmer-nav-bar>
  </div>

  <div class="community-form-container">
    <h1>Create New Community</h1>

    <mat-card>
      <mat-card-content>
        <form [formGroup]="createCommunityForm" (ngSubmit)="submitForm()">
          <div class="form-field">
            <mat-form-field class="full-width">
              <mat-label>Community Name</mat-label>
              <input
                matInput
                formControlName="name"
                placeholder="Enter community name"
              />
              <mat-error
                *ngIf="createCommunityForm.get('name')?.hasError('required')"
                >Name is required</mat-error
              >
              <mat-error
                *ngIf="createCommunityForm.get('name')?.hasError('minlength')"
                >Name must be at least 3 characters</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field class="full-width">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                formControlName="description"
                placeholder="Describe your community"
                rows="4"
              ></textarea>
              <mat-error
                *ngIf="
                  createCommunityForm.get('description')?.hasError('required')
                "
                >Description is required</mat-error
              >
              <mat-error
                *ngIf="
                  createCommunityForm.get('description')?.hasError('minlength')
                "
                >Description must be at least 20 characters</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-field">
            <mat-form-field class="full-width">
              <mat-label>Categories (Use Comma/Enter to add)</mat-label>

              <mat-chip-grid formArrayName="categories" #chipGrid>
                <mat-chip-row
                  *ngFor="
                    let category of createCommunityForm.get('categories')?.value
                  "
                  (removed)="removeCategory(category)"
                >
                  {{ category }}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                <input
                  placeholder="Add categories..."
                  [matChipInputFor]="chipGrid"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addCategory($event)"
                />
              </mat-chip-grid>
            </mat-form-field>
          </div>

          <div class="form-field image-upload">
            <label for="community-image">Community Image (Optional)</label>
            <div class="image-preview-container" *ngIf="imagePreview">
              <img [src]="imagePreview" alt="Community image preview" />
              <button
                type="button"
                mat-icon-button
                color="warn"
                (click)="removeImage()"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <button
              type="button"
              class="stroked-button"
              (click)="fileInput.click()"
              *ngIf="!imagePreview"
            >
              <mat-icon>add_photo_alternative</mat-icon>

              Upload Image
            </button>
            <input
              #fileInput
              type="file"
              id="community-image"
              style="display: none"
              accept="image/*"
              (change)="onImageSelected($event)"
            />
          </div>

          <div class="form-actions">
            <button type="button" class="stroked-button elevated" routerLink="community">
              Cancel
            </button>
            <button
              type="submit"
              class="stroked-button filled"
              color="primary"
              [disabled]="createCommunityForm.invalid"
            >
              Create Community
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
