<ng-container *ngIf="showEmailForm">
  <form
    #emailForm="ngForm"
    (ngSubmit)="onSubmitGenerateOtp(emailForm)"
  >
    <label for="">Enter Email</label>
    <input type="email" ngModel required email name="email" />

    <button type="submit" [disabled]="!emailForm.valid">
      Validate Otp
    </button>
  </form>
</ng-container>

<ng-container *ngIf="showOtpForm">
  <form #otpForm="ngForm" (ngSubmit)="onSubmitValidateOtp(otpForm)">
    <label for="">Enter Otp</label>
    <input type="number" ngModel required name="otp" />

    <button type="button" (click)="resendOtp()">Resend Otp</button>

    <button type="submit" [disabled]="!otpForm.valid">Change Password</button>
  </form>
</ng-container>

<ng-container *ngIf="showChangePasswordForm">
  <form
    #changePasswordForm="ngForm"
    (ngSubmit)="onSubmitChangePassword(changePasswordForm)"
  >
    <label for="">New Password</label>
    <input type="text" ngModel required name="newPassword" />

    <label for="">Confirm Password</label>
    <input type="text" ngModel required name="confirmPassword" />

    <button type="submit" [disabled]="!changePasswordForm.valid">
      Change Password
    </button>
  </form>
</ng-container>
