<div class="main-nav" [class.active]="isMenuOpen">
  
  <div
  class="blur-overlay"
  [class.active]="isMenuOpen"
  (click)="closeMenu()"
  ></div>
  <button class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
  
  <div class="nav">
    <svg-icon
      src="/assets/logo.svg"
      class="custom-logo animate__fadeIn"
      alt="FarmX Logo"
      loading="lazy"
      [applyClass]="true"
    ></svg-icon>

    <div
      class="nav-close-button"
      (click)="closeMenu()"
      role="button"
      aria-label="Close navigation menu"
    >
      <mat-icon class="material-icons">close</mat-icon>
    </div>

    <div class="menu">
      <a
        routerLink="/articles"
        class="menu-item"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <mat-icon class="material-icons">article</mat-icon>
        <span class="label">Articles</span>
      </a>
      <a
        routerLink="/chat"
        class="menu-item"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <mat-icon class="material-icons">chat</mat-icon>
        <span class="label">Chat</span>
      </a>
      <a
        routerLink="/community"
        class="menu-item"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <mat-icon class="material-icons">groups</mat-icon>
        <span class="label">Community</span>
      </a>
    </div>
    <div class="bottom-menu">
      <a
        routerLink="/notification"
        class="menu-item bottom-item"
        routerLinkActive="active"
        (click)="closeMenu()"
      >
        <mat-icon class="material-icons">notifications</mat-icon>
        <span class="label">Notification</span>
      </a>

      <a
        class="menu-item bottom-item"
        [routerLink]="route"
        routerLinkActive="active"
        [attr.data-selected]="shareSelect"
        (click)="closeMenu()"
      >
        <app-fa-wrapper class="material-icons" icon="gear"></app-fa-wrapper>
        <span class="label">Settings</span>
      </a>
    </div>
  </div>
</div>
