<div class="main-nav">
  <div class="nav">
    <svg-icon
      src="/assets/logo.svg"
      class="custom-logo animate__fadeIn"
      alt="FarmX Logo"
      loading="lazy"
      [applyClass]="true"
    ></svg-icon>

    <button class="hamburger" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="menu">
      <a href="#" class="menu-item" data-selected="false">
        <app-fa-wrapper class="material-icons" icon="bell"></app-fa-wrapper>
        <span class="label">Articles</span>
      </a>
      <a href="#" class="menu-item" data-selected="false">
        <app-fa-wrapper class="material-icons" icon="bell"></app-fa-wrapper>
        <span class="label">Chat</span>
      </a>
      <a href="#" class="menu-item" data-selected="false">
        <app-fa-wrapper class="material-icons" icon="bell"></app-fa-wrapper>
        <span class="label">Community</span>
      </a>
    </div>
    <div>
      <a href="#" class="menu-item bottom-item" data-selected="false">
        <app-fa-wrapper class="material-icons" icon="bell"></app-fa-wrapper>
        <span>Notification</span>
      </a>
      <a  class="menu-item bottom-item" [routerLink]="route" routerLinkActive="false">
        <app-fa-wrapper class="material-icons" icon="gear"></app-fa-wrapper>
        <span class="label">Settings</span>
      </a>
    </div>
  </div>
</div>
