// Initialize tailwind
@use "tailwindcss";


// styles.scss
@use 'material-theme'; // Relative to styles/ directory

// //-----------------------------------//
// @use '@angular/material' as mat;

// // Use CSS variables in Material theme
// $primary: mat.define-palette((
//   main: var(--md-sys-color-primary),
//   contrast: var(--md-sys-color-on-primary)
// ));

// $theme: mat.define-light-theme((
//   color: (primary: $primary)
// ));

// @include mat.all-component-themes($theme);



// Optional: Global styles
body {
  background: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}



//-----------------------------------//
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
