<div class="settings">
  <h1 class="heading">Settings</h1>
  <hr />

  <div>
    <div>
      <div class="edit">
        <div class="profile-pic">
          <img src="" alt="" />
        </div>

        <div class="form-field">
          <label class="form-field-label">Your name</label>
          <p class="form-field-value">Name</p>
        </div>
        <div class="form-field">
          <label for="" class="form-field-label">Email</label>
          <p class="form-field-value">EmailId</p>
        </div>

        <div class="form-field">
          <label for="" class="form-field-label">Phone</label>
          <p class="form-field-value">Phone number</p>
        </div>
      </div>
      <button>Edit Profile</button>
    </div>

    <div class="edit">
      <div class="form-field">
        <label for="" class="form-field-label">Forgot Password</label>
        <p class="form-field-value">***************</p>
      </div>
      <button class="button">Reset Password</button>
    </div>

    <div class="edit">
      <div class="form-field">
        <label for="" class="form-field-label">Change Password</label>
        <p class="form-field-value">***************</p>
      </div>
      <button class="button">Change Password</button>
    </div>
  </div>
</div>
