<div class="settings">
  <!-- Animated Header Section -->
  <header class="settings-header">
    <h1 class="heading">Settings</h1>
  </header>

  <!-- Main Content Grid -->
  <div class="settings-grid">
    <!-- Profile Card -->
    <div class="settings-card">
      <div class="profile-section">
        <div class="profile-pic-container">
          <div class="profile-pic">
            <div *ngIf="!(profilePhotoUrl$ | async)">
              <mat-icon class="account-profile-icon">account_circle</mat-icon>
            </div>
            <div (click)="onOpenModal()">
              <div *ngIf="profilePhotoUrl$ | async">
                <img [src]="profilePhotoUrl$ | async" alt="Profile Photo" />
              </div>
              <div class="edit-overlay">
                <mat-icon>photo_camera</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-details">
          <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
            <div class="form-field">
              <label class="form-field-label">Name</label>
              <input
                type="text"
                formControlName="name"
                class="form-field-value"
              />
            </div>
            <div class="form-field">
              <label class="form-field-label">Email</label>
              <input
                type="text"
                formControlName="email"
                class="form-field-value"
              />
            </div>
            <div class="form-field">
              <label class="form-field-label">Phone</label>
              <input
                type="text"
                formControlName="phone"
                class="form-field-value"
              />
            </div>
            <div class="action-buttons">
              <button
                type="button"
                [disabled]="!isEditing"
                class="btn-primary"
                (click)="saveProfile()"
                (click)="toggleEdit()"
              >
                {{ (loading$ | async) ? "Updating..." : "Update Profile" }}
              </button>
              <mat-icon class="btn-primary-icon" (click)="editProfile()"
                >edit</mat-icon
              >
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Security Card -->
    <div class="settings-card security-card">
      <h3 class="card-title">Security</h3>

      <div class="form-field">
        <div class="security-section">
          <div *ngIf="!isChangingPassword">
            <label class="form-field-label">Password</label>
            <p class="form-field-value">•••••••••••</p>
          </div>

          <!-- Old Password Form -->
          <form
            *ngIf="showOldPasswordForm && !showChangePasswordForm"
            [formGroup]="oldPasswordForm"
            (ngSubmit)="checkOldPassword()"
          >
            <div class="form-field">
              <label for="" class="form-field-label">Old Password</label>
              <input
                type="password"
                class="form-field-value"
                formControlName="oldPassword"
              />
            </div>

            <div
              *ngIf="oldPasswordError$ | async as error"
              class="error-message"
            >
              <p class="text-red-500 text-sm mt-1">{{ error }}</p>
            </div>

            <div class="flex mx-auto pt-6 justify-between">
              <button
                type="button"
                (click)="navigateBack()"
                class="btn-primary"
                style="opacity: 80%"
              >
                Cancel
              </button>
              <button type="submit" class="btn-primary">Change Password</button>
            </div>
          </form>

          <!-- Change Password Form -->
          <form
            *ngIf="showChangePasswordForm && !showOldPasswordForm"
            [formGroup]="changePasswordForm"
            (ngSubmit)="changePassword()"
          >
            <div class="form-field">
              <label for="" class="form-field-label">New Password</label>
              <input
                type="text"
                class="form-field-value"
                formControlName="newPassword"
              />
            </div>
            <div class="form-field">
              <label for="" class="form-field-label">Confirm Password</label>
              <input
                type="text"
                class="form-field-value"
                formControlName="confirmPassword"
              />
            </div>
            <div class="flex mx-auto pt-6 justify-between">
              <button
                type="button"
                class="btn-primary"
                style="opacity: 80%"
                (click)="navigateBack()"
              >
                Cancel
              </button>
              <button type="submit" class="btn-primary">Change Password</button>
            </div>
          </form>

          <!-- Frogot Password Form -->
          <form
            *ngIf="showForgotPasswordForm"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="forgotPassword()"
          >
            <div class="form-field">
              <label for="otp" class="form-field-label">Enter Otp</label>
              <input
                type="string"
                class="form-field-value"
                formControlName="otp"
                placeholder="Enter otp send to your email"
              />
            </div>
            <div class="flex mx-auto pt-6 justify-between">
              <button
                type="button"
                class="btn-primary"
                style="opacity: 80%"
                (click)="navigateBack()"
              >
                Cancel
              </button>
              <button type="button" class="btn-primary" (click)="resendOtp()">
                Resend Otp
              </button>
              <button type="submit" class="btn-primary">Change Password</button>
            </div>
          </form>
        </div>

        <!-- Change & Forget Button -->
        <div class="pass-btns" *ngIf="!isChangingPassword">
          <button class="pass-btn" (click)="toggleOldPasswordForm()">
            <span>Change Password</span>
            <i class="fas fa-chevron-right"></i>
          </button>
          <button class="pass-btn" (click)="forgotPasswordGenerateOtp()">
            <span>Forgot Password</span>
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Notifications Card -->
    <div class="settings-card">
      <h3 class="card-title">Notifications</h3>

      <div class="notification-settings">
        <div class="notification-item">
          <div class="notification-info">
            <fa-icon
              class="notification-icon"
              [icon]="faBell"
              [size]="'lg'"
              aria-hidden="true"
            ></fa-icon>
            <div>
              <h4>Notifications</h4>
              <p>Control your notifications on your application.</p>
            </div>
          </div>

          <!-- Toggle Button -->
          <div class="checkbox-wrapper-5">
            <div class="check">
              <input
                checked=""
                id="check-5"
                type="checkbox"
                [(ngModel)]="notificationEnabled"
              />
              <label for="check-5"></label>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button (click)="logout()" class="pass-btn">Logout</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  *ngIf="showModal"
  class="fixed inset-0 bg-[rgb(from_var(--md-sys-color-scrim)_r_g_b/0.8)] flex items-center justify-center z-50"
>
  <div class="bg-[var(--md-sys-color-surface)] rounded-lg p-9 w-full max-w-md">
    <h3
      class="text-xl font-semibold text-[var(--md-sys-color-on-surface)] mb-5"
    >
      Uplaod New Photo
    </h3>

    <file-pond
      [options]="pondOptions"
      (onaddfile)="onFileAdded($event)"
      (onprocessfile)="onFileProcessed($event)"
      class="filepond--root custom-filepond"
    ></file-pond>

    <div class="mt-10 flex justify-end">
      <button
        class="px-4 py-2 bg-[var(--md-sys-color-surface-variant)] text-[var(--md-sys-color-on-surface-variant)] rounded-lg mr-2 hover:bg-[var(--md-sys-color-surface-variant)]/80 hover:cursor-pointer"
        (click)="onCloseModal()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
